<html>
<head>  
<h1>About [Your Company's Name]</h1>
</br>
<h2>Your Company's Name lets you</h2>
</head>
<body bgcolor="red">
<!--Even though the template uses bulleted lists, you don't have to.  A simple paragraph format will work just as well.-->
</br>
<ul>
	<li>benefit of using product or services</li>
	<li>benefit of using product or services (optional)</li>
	<li>benefit of using product or services (optional)</li>
</ul>
</br>	
<h2>Your Company's Name's mission</h2>
</br>
<ul>
	<li>most important goal for serving customers</li>
	<li>2nd most important goal for serving customers (optional)</li>
	<li>3rd most important goal for serving customers (optional)</li>
</ul>
</br>
<h2>Your Company's Name proudly serves</h2>
</br>
<ul>
	<li>1st most important customer or group</li>
	<li>2nd most important customer or group</li>
	<li>3rd most important customer or group</li>
</ul>
</br>
<h1>The People of Your Company's Name</h1>
</br>
<ul>
	<li>Most important characteristic/qualification of workforce</li>
	<li>2nd most important characteristic/qualification of workforce</li>
</ul>
</br>
<h2>History of Your Company's Name</h2>
</br>
<ul>
	<li>Founding date and circumstances</li>
	<li>Major milestones of growth</li>
	<li>Major achievements</li>
	<li>Present-day organization (partnership, corporation, privately owned, non-profit)</li>
	<li>Ownership (sole proprietorship, family-owned, partner-owned privately joint-owned, publicly traded)</li>
</ul>
</br>
<p>
<strong>Your Company's Name</strong>
<br>
Your business's address
<br>
Your business's country (if not a local business)
</p>      
</body>
</html>
